*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-primary);

  background: #05070d;

  color: white;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-weight: 600;
  font-size: clamp(0.4rem, 0.8vw, 1rem);
}
#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* ==========================================
DESKTOP
========================================== */

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

/* ==========================================
TABLET PORTRAIT + MOBILE
========================================== */

@media (max-width: 1024px), (orientation: portrait) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
  }

  .presentation-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
  }

  .slide {
    width: 100%;
    min-height: auto;

    height: auto;

    padding: clamp(2rem, 6vw, 4rem) clamp(1.25rem, 5vw, 2rem);

    align-content: start;

    gap: 2rem;
  }

  .block {
    width: 100%;
  }
}
